@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At games.blog.com, we take your privacy seriously and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard the information you provide while visiting our blog.

Information Collection:
We may collect personal information, such as your name and email address, when you voluntarily subscribe to our blog or leave comments. We also gather anonymous data about your browsing habits and engagement with our content.

Use of Information:
The personal information you provide is used to send you blog updates, respond to your inquiries, and improve your user experience. We may also use anonymized data to analyze trends, track website usage, and enhance our content.

Data Security:
We employ strict security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please note that no method of transmission over the internet or electronic storage is entirely secure.

Third-Party Disclosure:
We do not sell, trade, or transfer your personal information to outside parties. However, non-personally identifiable visitor information may be shared with trusted third parties for analytics, marketing, or other purposes.

Cookies and Tracking Technologies:
We use cookies and similar tracking technologies to enhance your browsing experience and gather information about how you interact with our blog. You have the option to disable cookies in your browser settings, but this may affect certain features of the website.

External Links:
Our blog may contain links to external websites. We are not responsible for the privacy practices or content of those sites. We encourage you to review the privacy policies of any third-party websites you visit.

Children's Privacy:
Our blog is not intended for individuals under the age of 13. We do not knowingly collect personal information from children. If you believe we have inadvertently collected information from a child, please contact us immediately.

Updates to the Privacy Policy:
We reserve the right to update this Privacy Policy periodically. Any changes will be posted on this page, and the updated policy will be effective immediately upon posting.

By using our blog, you consent to the terms of this Privacy Policy. If you have any questions or concerns regarding your privacy, please contact us at games.blog.com.</p>
